{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
    <title>{% block title %}{{object.user}}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'mercado/js/client_detail.js' %}"></script>
{% endblock %}

{% block body %}

    <h1>Hola, {{object.user.username}}!</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% empty %}
            <li>No hay mensajes</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <!-- <button class='edit_profile'>Editar perfil</button> -->
    <button class='BuyOffer'>Pujas</button>
    <button class='SellOffer'>Ofertas</button>
    <!-- <button class='purchases'>Mis pares</button> -->
    <a href="{% url 'mercado:edit_profile' %}">Editar perfil</a>

    <div id="edit_profile"></div>
    <div id="bids"></div>
    <div id="offers"></div>
    <div id="purchases"></div>

    <h2>Mi número</h2>
    <p>{{object.user.client.number}}</p>

    <h1>Mis pares</h1>
    <ul>
        {% for i in purchases %}
            <li>{{i.product}}</li>
        {% endfor %}
    </ul>

{% endblock %}