{% extends "mercado/layout.html" %}

{% block body %}

<h1>{{producto.modelo}}</h1>

<form action="{% url 'mercado:compra' producto.id %}" method="post"> 
    {% csrf_token %}
    <fieldset>
    <h1>Comprar</h1>
    {% for talla,oferta in compras %}
        <input type="radio" name="talla" id="talla{{ forloop.counter }}" value="{{ talla }}">
        <label for="talla{{ forloop.counter }}">{{ talla }} - ${{oferta.monto}} - {{oferta.comprador}}</label><br> 
    {% endfor %}
    <h1>Vender</h1>
    {% for talla,oferta in ventas %}
        <input type="radio" name="talla" id="talla{{ forloop.counter }}" value="{{ talla }}">
        <label for="talla{{ forloop.counter }}">{{ talla }} - ${{oferta.monto}} - {{oferta.comprador}}</label><br> 
    {% endfor %}
    <label>Monto:</label>
    <input type="label" name="monto">
    </fieldset>
    <input type="submit" value="Comprar"> 
    <input type="submit" value="Vender" formaction="{% url 'mercado:venta' producto.id %}">
</form>

{% endblock %}