{% extends "mercado/layout.html" %}

{% block body %}

<h1>{{producto.modelo}}</h1>

<form action="{% url 'mercado:compra' producto.id %}" method="post"> 
    {% csrf_token %}
    <fieldset>
    <legend><h1>Compra {{ producto.modelo }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %} 
    {% for talla,oferta in ventas %}
    <input type="radio" name="talla" id="talla{{ forloop.counter }}" value="{{ talla }}">
    <label for="talla{{ forloop.counter }}">{{ talla }} - {{oferta.monto}}: {{oferta.comprador}}</label><br> 
    {% endfor %}
    <label>Monto:</label>
    <input type="label" name="monto">
    </fieldset>
    <input type="submit" value="Comprar"> 
</form>

{% endblock %}