{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
<title>{% block title %}{{object.user}}{% endblock %}</title>
<script type="text/javascript" src="{% static 'mercado/js/edit_profile.js' %}"></script>
{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% empty %}
            <li>No hay mensajes</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Editar perfil de {{request.user}}</h1>

    <form id="registerForm" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Editar perfil">
    </form>
{% endblock %}