{% extends "mercado/layout.html" %}

{% block body %}

    Marcas 
    <ul>
        {% for marca in marcas %}
            <li><a href="{% url 'mercado:marca' marca %}" >{{marca}}</a></li>
        {% endfor %}
    </ul>

        {% for i in deptos %}
            <button data-department={{i}}>{{i}}</button>
        {% endfor %}


    <h1>Productos</h1>
    <ul>
        {% for producto in mercancia_list %}
            <li> <a href="{{ producto.get_absolute_url }}">{{ producto.modelo }}</a> </li>
        {% empty %}
            <li>No hay productos de mujer</li>
        {% endfor %}
    </ul>

    {% for key,products in key_deptos %}
        <div id={{key}}>
            {% for product in products %}
                {{ product}}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}