{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'mercado/js/index.js' %}"></script>
    <style>
        .products_by_department{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Marcas</h1>
    {% for marca in marcas %}
        <button data-marca={{marca}}>{{marca}}</button>
    {% endfor %}

    <div id="content"></div>

        {% for key,depto in value_deptos %}
            <button data-key={{key}}>{{depto}}</button>
        {% endfor %}

    <div id="productos">
        <h1>Productos</h1>
        <ul>
                {% for producto in mercancia_list %}
                    <li> <a href="{{ producto.get_absolute_url }}">{{ producto.modelo }}</a> </li>
                {% empty %}
                    <li>No hay productos de mujer</li>
                {% endfor %}
            </ul>
    </div >

    {% for key,products in key_deptos %}
        <div class="products_by_department" id={{key}}>
            <ul>
            {% for product in products %}
                <li>{{ product}}</li>
            {% endfor %}
            </ul>
            
        </div>
    {% endfor %}

{% endblock %}