{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'mercado/js/index.js' %}"></script>
    <style>
        .products_by_department{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Marcas</h1>
    {% for marca in marcas %}
        <button class="marca" data-marca={{marca}}>{{marca}}</button>
    {% endfor %}

    {% for depto in deptos %}
        <button class="depto" data-depto={{depto.0}}>{{depto.1}}</button>
    {% endfor %}
    
    <div id="products_by_brand"></div>
    <div id="products_by_department"></div>

    <div id="productos">
        <h1>Productos</h1>
        <ul>
                {% for producto in mercancia_list %}
                    <li> <a href="{{ producto.get_absolute_url }}">{{ producto.modelo }}</a> </li>
                {% empty %}
                    <li>No hay productos de mujer</li>
                {% endfor %}
            </ul>
    </div >

{% endblock %}