{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'mercado/css/style.css' %}">
    <title>{% block title %}Armario - México{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <sidebar>
        <a href="{% url 'mercado:index' %}"><h1>Armario</h1></a>
        <ul class="sidebar-nav">
    <!-- Lo que esto hace es añadir el párametro URL next que contiene la dirección 
    (URL) de la página actual, al final de la URL enlazada. Después de que el 
    usuario haya iniciado o cerrado sesión con éxito, las vistas usarán el valor 
    de este "next" para redirigir al usuario de vuelta a la página donde pincharon 
    primeramente el enlace de inicio/cierre de sesión. -->
            {% if user.is_authenticated %}
                <li>Usuario: {{ user.get_username }}</li>
                <li><a href="{% url 'mercado:mis_ofertas' %}">Mis ofertas</a></li>
                <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{request.path}}">Iniciar Sesión</a></li>
                <li><a href="{% url 'mercado:register' %}">Registro</a></li>
            {% endif %}
        </ul>
    </sidebar>
    {% block body %}
    {% endblock %}
</body>
</html>