{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'mercado/js/mis_ofertas.js' %}"></script>
{% endblock %}

{% block body %}

<h1>Mis ofertas</h1>

<h1>Compra:</h1>
<ul>
    {% for i in buy_offers %}
        <li><a href="{% url 'mercado:detalles' i.product.id %}">{{ i.product }}</a> - ${{i.offer}}</li>
    {% empty %}
        <li>No hay pujas de compra</li>
    {% endfor %}
</ul>
<h1>Venta:</h1>
<ul>
    {% for i in sell_offers %}
        <li><a href="{% url 'mercado:detalles' i.product.id %}">{{ i.product }} - ${{i.offer}}</a></li>
    {% empty %}
        <li>No hay ofertas</li>
    {% endfor %}
</ul>
<h1>Existosas</h1>
<ul>
    {% for i in successfull_offers %}
        <li><a href="{% url 'mercado:detalles' i.product.id %}">{{ i.product }}</a> - ${{i.offer}}</li>
    {% empty %}
        <li>No hay ofertas exitosas</li>
    {% endfor %}
</ul>

{% endblock %}