{% extends "mercado/layout.html" %}

{% load static %}

{% block head %}
    <title>{% block title %}{{object.user}}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'mercado/js/client_detail.js' %}"></script>
{% endblock %}

{% block body %}

    <h1>Hola, {{ profile.user.username }}!</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <button class='BuyOffer'>Pujas</button>
    <button class='SellOffer'>Ofertas</button>
    <button class='SuccessfulOffer'>Mis pares</button>
    <a href="{% url 'mercado:edit_profile' user.get_username %}">Editar perfil</a>

    <div id="bids"></div>

    <h2>Mi número</h2>
    <p>{{profile.number}}</p>
    <h2>Mi correo</h2>
    <p>{{profile.user.email}}</p>
    <h2>Nombre completo:</h2>
    <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
    <h2>Activo desde:</h2>
    <p>{{profile.user.date_joined}}</p>

{% endblock %}